*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: verdana, sans-serif;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type="number"] {
        -moz-appearance: textfield;
  }
      input[type="number"]:hover,
      input[type="number"]:focus {
        -moz-appearance: number-input;
      }
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

body{
  overflow: hidden;
}

a, a:visited{
  text-decoration: none;
  color: black;
}

strong{
  color: white;
}
